body{
    margin: 0;
    text-align: center;
    font-family: 'Courier Prime', monospace;
}

h1{
    font-size: 562.5%;
    margin: 50px auto 0 auto;
    font-family: 'Courier Prime', monospace;
    color: #F7E2D6;
    font-weight: normal;
    line-height: .5;
}
h2{
    font-size: 2.5rem;
    font-family: 'Courier Prime', monospace;
    color: #F7E2D6;
    font-weight: normal;
}
h3{
    font-family: 'Inconsolata', monospace;
    color: #876445;
}
p{
    color: rgb(240, 212, 206);
}
.nat-img{
    margin-bottom: 0;
    padding-bottom: 20px;
    border: none;
    border-bottom: none;
    border-radius: 0%;
    height: 15%;
    width: 15%;
}
.plant-img{
    height: 25%;
    width: 25%;
    border-radius: 100px;
    float: left;
    margin-right: 30px;
}
.lotus-img{
    height: 25%;
    width: 25%;
    border-radius: 100px;
    float: right;
    margin-left: 30px;
}
.bottomcloud{
    position: absolute;
    left: 400px;
    bottom: 200px;
    size: 35%;
    width: 200px;
    height: 150px;
}
.topcloud{
    position: absolute;
    right: 400px;
    top: 5px;
    size: 35%;
    width: 200px;
    height: 150px;
}

.top-container{
    background-color: #E3B7A0;
    position: relative;  
    padding-top: 100px;
    border-width: 0;
    height: 30%;  
}
.middle-container{
    background-color: #d5ad98;
   position: relative;
   padding-top: 100px;

}
.bottom-container{
    background-color: #be9d8b;
    padding-bottom: 10px;
    padding-top: 30px;
}
.skill-row-top{
    width: 50%;
    margin: 100px auto 100px auto;
    padding-top: 0;
    padding-bottom: 20px;
    text-align: left;
    line-height: 2;
}
.skill-row-bottom{
    width: 50%;
    margin: 100px auto 100px auto;
    padding-top: 0px;
    padding-bottom: 0px;
    text-align: left;
    line-height: 2;
}
.hr{
    border-style: none;
    height: 0px;
    background-color: none;
    width: 3%;
    border-top-style: dashed;
    border-top-width: 5px;
    border-color: #c09168;
    padding-top: 0;
}
.hr1{
    border-style: none;
    height: 0px;
    background-color: none;
    width: 3%;
    border-top-style: dashed;
    border-top-width: 5px;
    border-color: #c09168;
}
.profile{
    margin-bottom: 75px;
}
.myskills{
    margin-top: 100px;
    margin-bottom: -75px;
}
.btn{
        -webkit-border-radius: 7;
        -moz-border-radius: 7;
        border-radius: 0px;
        text-shadow: 1px 1px 3px #666666;
        font-family: monospace;
        color: #ffffff;
        font-size: 25px;
        background: #E5B299;
        padding: 10px 20px 10px 20px;
        text-decoration: none;
    }
.btn:hover {
        background: #e4c3b1;
        text-decoration: none;
}
.footer-link{
    color: #876445;
    margin: 0 0;
}
.copyright{
    font-size: small;
}